<div class="clr-row">
    <div class="clr-col-lg-10 clr-col-md-12 clr-col-12">
        <div class="card">
            <div class="card-header">
                <h2>Criteria</h2>
            </div>
            <div class="card-block">
                <div class="card-text">

                    <form class="clr-form clr-form-compact">
                        <div class="clr-form-control clr-row">
                            <div class="clr-checkbox-wrapper clr-col-12 clr-col-md-2">
                                <input type="checkbox" id="vertical-checkbox1" name="checkbox-full" value="isn"
                                    class="clr-checkbox">
                                <label for="vertical-checkbox1" class="clr-control-label">ISN</label>
                            </div>
                            <div class="clr-control-container clr-col-12 clr-col-md-10">
                                <div class="clr-input-wrapper">
                                    <input type="text" id="vertical-checkbox1" placeholder="isn number"
                                        class="clr-input">
                                </div>
                            </div>
                        </div>
                        <div class="clr-form-control clr-row">
                            <div class="clr-checkbox-wrapper clr-col-12 clr-col-md-2">
                                <input type="checkbox" id="vertical-checkbox2" name="checkbox-full" value="filter"
                                    class="clr-checkbox">
                                <label for="vertical-checkbox2" class="clr-control-label">Filter</label>
                            </div>
                            <div class="clr-control-container clr-col-12 clr-col-md-10">
                                <div class="clr-input-wrapper">
                                    <input type="text" id="vertical-checkbox2" placeholder="filter data"
                                        class="clr-input">
                                </div>
                            </div>
                        </div>
                        <div class="clr-form-control clr-row">
                            <div class="clr-checkbox-wrapper clr-col-12 clr-col-md-2">
                                <input type="checkbox" id="vertical-checkbox3" name="checkbox-full" value="adabasMap"
                                    class="clr-checkbox">
                                <label for="vertical-checkbox3" class="clr-control-label">Adabas Map</label>
                            </div>
                            <div class="clr-control-container clr-col-12 clr-col-md-10">
                                <div class="clr-input-wrapper">

                                    <clr-dropdown [clrCloseMenuOnItemClick]="false">
                                        <button clrDropdownTrigger>
                                            None
                                            <clr-icon shape="caret down"></clr-icon>
                                        </button>
                                        <clr-dropdown-menu *clrIfOpen>
                                            <div clrDropdownItem>Action 1</div>
                                            <div clrDropdownItem>Action 2</div>
                                            <div clrDropdownItem>Link 1</div>
                                            <div clrDropdownItem>Link 2</div>
                                        </clr-dropdown-menu>
                                    </clr-dropdown>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<br>
<br>
<br>