<div class="main-container">
  <!-- <div class="alert alert-app-level">
    Alert
  </div> -->
  <header class="header-6">
      <div class="branding">
          <a href="javascript://" class="nav-link">
              <img width="50" src="./assets/orange.png" />
              <span class="title">ADABAS NEW HORIZON</span>
          </a>
      </div>
      <div class="header-actions">
          <a href="javascript://" class="nav-link nav-icon-text">
              <clr-icon shape="user" title="About Us"></clr-icon>
              <span class="nav-text"></span>
          </a>
      </div>
  </header>
  <!-- <nav class="subnav">
    ...
  </nav> -->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <!-- <nav class="sidenav">
      ...
    </nav> -->
  </div>
</div>

