<div class="clr-row">
  <div class="clr-col-lg-10 clr-col-md-12 clr-col-12">
    <div class="card">
      <div class="card-header">
        Step 3 - Query Statement Builder
      </div>
      <div class="card-block">
        <div class="card-text">
          <ng-template [ngIf]="fileSelected && criteriaConfirmation">
            <div class="clr-row">
              <div class="clr-col-12">
                {{ sqlStatement }}
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-12">
                <button class="btn btn-outline" (click)="executeQuery()">Execute</button>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="!fileSelected && !criteriaConfirmation">
            <div class="clr-row">
              <div class="clr-col-12">
                Awaiting input from Step 1 and Step 2
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
