<h1>Adabas Data Query</h1>
<ada-new-horizon-file-selection
  (dbFileSelection)="eventDbFileSelect($event)"
  (dbFileSelected)="eventDbFileSelected($event)"
></ada-new-horizon-file-selection>
<ada-new-horizon-criteria
  [fileSelected]="fileSelected"
  [fileSelection]="selectedDBFile"
  (criteriaSelected)="eventCriteriaSelect($event)"
  (criteriaConfirmation)="eventCriteriaConfirmation($event)"
></ada-new-horizon-criteria>
<ada-new-horizon-query-statement
  [fileSelected]="fileSelected"
  [fileSelection]="selectedDBFile"
  [criteriaInput]="criteriaInput"
  [criteriaConfirmation]="criteriaConfirmation"
  (execute)="eventExecuteSqlQuery($event)"
></ada-new-horizon-query-statement>

<div class="clr-row">
  <div class="clr-col-lg-10 clr-col-md-12 clr-col-12">
    <div class="card">
      <div class="card-header">
        Sql Result
      </div>
      <ng-container *ngIf="result !== null">
        <ada-new-horizon-read-result
          [readResult]="result"
        ></ada-new-horizon-read-result>
      </ng-container>
      <ng-container *ngIf="msg !== null">
        <div class="alert alert-success" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>
              <span class="alert-text">{{ msg }}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="error !== null">
            <div class="alert alert-danger" role="alert">
              <div class="alert-items">
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                  </div>
                  <span class="alert-text">{{ error }}</span>
                </div>
              </div>
            </div>
          </ng-container>
    </div>
  </div>
</div>

<!-- <ada-new-horizon-read-result
  [readResult]="sampleResult"
></ada-new-horizon-read-result> -->
